[submodule "radio_toolbox"]
	path = radio_toolbox
	url = https://github.com/dachshund-ncu/radio_toolbox.git
[submodule "database_handler"]
	path = database_handler
	url = https://github.com/dachshund-ncu/maser-archive-database-handler.git
