[submodule "services/database_handler"]
	path = services/database_handler
	url = https://github.com/dachshund-ncu/maser-archive-database-handler.git
[submodule "services/radio_toolbox"]
	path = services/radio_toolbox
	url = https://github.com/dachshund-ncu/radio_toolbox.git
